*{
  font-family: 'Inter', sans-serif;
  margin: 0px;
  font-weight: 300;
  transition: all 0.5s;
}

a{
  text-decoration: none;
  margin: 0px;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContainer{
  /* border: 1px solid black; */
  width: 95vw;
  margin: 50px;
}

nav{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.links h4{
  text-align: right;
}

.links{
  margin-top: 10px;
}

h1{
  font-size: 100px;
  transition: all 400ms;
  font-weight: 700;
}

h1:hover{
  transform: translateX(20px);
}

#title{
  margin-top: -20px;
}

footer{
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.contactLinks{
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.contactLinks *{
  width: 2vw;
  height: 2vw;
  transition: all 400ms;
}

/* .contactLinks *:hover{
  transform:scale(1.2);

} */

#getInTouch{
  color: grey;
  font-size: 40px;
}

h2{
  font-size: 40px;
}

#centerImage{
  width: 95vw;
  height: 90vh;
  background-position: center;
  background: url("/Imgs/ilgmyzin-aOOfb645-qQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 50px;
  }

  .contactLinks{
    margin-left: 10px;
    gap: 30px;
  }

  .contactLinks *{
    transform: scale(1.6);
  }

  #contactImage{
    max-width: 100%;
    max-height: 100%;
  }

  .pageContainer{
    margin: 30px;
}
}

#centerImage, .project{
  animation: opacity 1s;
}

#projectItem{
  animation: opacity 2s;
  margin-top: 80px;
}

@keyframes opacity {
  from{opacity: 0; transform: translateY(-20px);}
  to{opacity: 1; transform: translateY(0px);}
}

.project{
  width: 95vw;
}

.project h3:hover{
  color: orange;
}

.basicInfo{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30vw;
}

.basicInfo h4, a{
  font-weight: 400;
}

#projectItem{
  display: flex;
  width: 95vw;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
  animation: move 1s;
}

#projectItem img{
  width: 40%;
  height: 60%;

}

@keyframes move {
  from{transform: translateY(300px);}
  to{transform: translateY(0px);}
}

.links h4:hover{
  color: blue;
  transform: scale(1.1);
}

h2{
  margin-top: 20px;
}

h5{
  margin-top: -10px;
}

.basicInfo h4 a{
  color: blue;
}

.productDetails{
  margin-top: 90px;
}

#creation{
  margin-top: 10px;
}

.contactDetails{
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  #projectItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -30%;
  }

  #projectItem img{
    transform: scale(1.4);
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .productDetails{
    margin-top: 190px;
  }

  #purpose{
    width: 50vw;
  }

}

#contactImage{
  z-index: -10;
  position: absolute;
  /* transform: scale(1.3); */
  /* left: 200px; */
  

}